
<h1> Helllo world</h1>
<%= form_tag '/?extra=basic' do %>
  <input type="text" name="product[name]">
  <input type="text" name="product[age]">
  <input type="text" name="product[gender]">
  <%= submit_tag %>
<% end %>
